In [57]:
import pandas as pd
import glob
import os
from datetime import datetime, timedelta

In [47]:
# df = pd.read_csv("path")
# df.head(10)

In [48]:
# Function one : Read multiple csv file in folder
folder = "path"
csv_f = glob.glob(os.path.join(folder,'*.csv'))
dfs = []

# Iterate over each CSV file
for file_path in csv_f:
    df = pd.read_csv(file_path)
    dfs.append(df)

In [49]:
# In this line code append data table and sort value in dataframe
combined_df = pd.concat(dfs, ignore_index=True)
combined_df.sort_values(by='Month',ascending=True, inplace=True)

In [50]:
# Function two : Fix data type float64 to Datetime in columns InvoiceDate
excel_epoch = datetime(1899, 12, 30)
InvoiceDate = ['InvoiceDate']

for date in InvoiceDate:
    combined_df['InvoiceDate'] = excel_epoch + pd.to_timedelta(combined_df['InvoiceDate'], unit='D')

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Price,Month
47185,544434,21935,SUKI SHOULDER BAG,1,40592.67500,3.29,NaN,United Kingdom,3.29,2
39146,543604,22861,EASTER TIN CHICKS IN GARDEN,6,40584.57917,1.65,16558.0,United Kingdom,9.90,2
39147,543604,21717,EASTER TIN BUCKET,8,40584.57917,2.55,16558.0,United Kingdom,20.40,2
39148,C543605,82486,WOOD S/3 CABINET ANT WHITE FINISH,-4,40584.59097,8.95,13110.0,United Kingdom,-35.80,2
39149,C543606,22963,JAM JAR WITH GREEN LID,-1,40584.59236,0.85,14665.0,United Kingdom,-0.85,2

In [ ]:
# combined_df.to_csv('path')